
@media only screen and (max-width:767px) {
	html{
		font-size:10px;
	}
	.hidden-xs-only,.leftMenu {
		display: none !important;
	}

	.el-main {
		height: calc(100vh - 13.6rem);
		overflow: auto;

		>div {
			width: 100%;
		}
	}

	table {
		font-size: 1.2rem;
	}

	.el-pagination {
		overflow: auto;
	}

	.is-mobile {
		display: block;

		.el-menu--horizontal {
			justify-content: flex-start;
		}

		.icon30 {

			display: none !important;
		}

		.el-submenu {
			width: auto;
		}

		.el-menu {
			overflow: auto;
		}
	}

	// .el-table__header-wrapper,
	// .hidden-columns {
	// 	display: none !important;

	// }

	.mainContainer {
		flex-direction: column;

	}

	.el-form-item {
		width: 100% !important;

		.el-select {
			width: 100% !important;

		}
	}

	.el-menu {
		height: 4rem;

	}

	.el-header {
		height: auto !important;

	}
}

@media only screen and (min-width:768px) {
	.hidden-sm-and-up,.leftMenu {
		display: none !important;
	}
	html{
		font-size:12px;
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.hidden-sm-only,.leftMenu {
		display: none !important;
	}
}

@media only screen and (max-width:991px) {
	.hidden-sm-and-down,.mainHeader {
		display: none !important;
	}
}

@media only screen and (min-width:992px) {
	.hidden-md-and-up,.leftMenu,.mainHeader {
		display: none !important;
	}
	html{
		font-size:13px;
	}
}

@media only screen and (min-width:992px) and (max-width:1199px) {
	.hidden-md-only,.leftMenu,.mainHeader {
		display: none !important;
	}
}

@media only screen and (max-width:1199px) {

	.hidden-md-and-down {
		display: none !important;
	}
}

@media only screen and (min-width:1200px) {
	
	.hidden-lg-and-up {
		display: none !important;
	}
	html{
		font-size:14px;
	}
	.baseInfo {
		flex-direction: row;
	}
}

@media only screen and (min-width:1200px) and (max-width:1919px) {
	.hidden-lg-only {
		display: none !important;
	}
}

@media only screen and (max-width:1919px) {
	.hidden-lg-and-down {
		display: none !important;
	}
}

@media only screen and (min-width:1441px) {
	
	html{
		font-size:15px;
	}
}
@media only screen and (min-width:1920px) {
	.hidden-xl-only {
		display: none !important;
	}
	html{
		font-size:16px;
	}
}