@font-face {
  font-family: "BadScriptRegular";
  src: url("../fonts/BadScriptRegular.ttf") format("truetype");
}
// font-758-15652584618567
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

a {
  color: #3c8dbc;
  text-decoration: none;
}

-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #3e8dbb;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  color:#666;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 1.25rem;
}

.el-button.el-button--small {
  font-size: 0.875rem;
  padding: 0.5rem 0.9375rem;
}

/** 基础查询列表样式-begin **/
.searchWrapper {
  position: relative;
  box-sizing: border-box;
  // padding: 1.25rem;
  background: #fff;
  height: 100%;
  overflow: auto;

  .el-table--enable-row-transition .el-table__body td {
    padding: 0.125rem 0;
  }
}

.searchListWrapper {
  .el-table--enable-row-transition .el-table__body td {
    padding: 0.125rem 0;
  }
}

.noPadding {
  .searchFormWrapper {
    padding: 1.25rem 0 0;
  }

  .searchListWrapper {
    padding: 1.25rem 0;
  }
}

.searchFormWrapper {
  padding: 1.25rem 1.25rem 0;
  background: #fff;

  .el-form-item {
    width: 33.33%;
    margin-right: 0;
    display: inline-flex;

    .el-form-item__content {
      flex: 1;
      overflow: hidden;
    }

    &.w100 {
      width: 100%;
    }

    &.w66 {
      width: 66.66%;
    }

  }

  .btnItem {
    padding-left: 1.875rem;

    &.right {
      text-align: right;
    }
  }

  .el-button {
    font-size: 0.875rem;
  }

  .el-button--small {
    padding: 0.5rem 0.9375rem;
  }
}

.cell {
  font-size: 0.875rem;
}

th {
  color: rgba(0, 0, 0, .85);
  background: #fafafa;
  border-bottom: 0.0625rem solid #e8e8e8;
  padding: 1rem 0;
}

.searchListWrapper {
  padding: 1.25rem;
  // margin-top:1.25rem;
  background: #fff;
}

.searchPaginationWrapper {
  background: #fff;
  padding: 0 1.25rem 1.25rem;
  display: flex;
  justify-content: flex-end;

  &.noPadding {
    padding: 0.625rem 0;

  }

  .el-pagination--small {
    font-size: 0.75rem;
  }

  .el-pagination.is-background.el-pagination--small {

    .btn-next,
    .btn-prev,
    .el-pager li,
    button,
    .el-pager li:not(.disabled),
    .el-select .el-input .el-input__inner {
      min-width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
    }
  }
  .el-pagination button, .el-pagination span:not([class*=suffix]){
    font-size: 0.875rem;
    height: 2rem;
    line-height: 2rem;
  }
  .el-pagination.is-background {
    font-size: 0.875rem;
    overflow: auto;

    button,
    .el-pager li:not(.disabled),
    .el-select .el-input .el-input__inner {
      box-sizing: border-box;
      background-color: #fff;
      border: solid 0.0625rem #d9d9d9;
      border-radius: 0.25rem;
      color: rgba(0, 0, 0, .65);
      min-width: 2rem;
      height: 2rem;
      font-weight: 400;
      line-height: 2rem;
    }

    .el-pager li:not(.disabled).active {
      border-color: #bb0209;
      color: #bb0209;
      font-weight: 500;
    }
  }
}

/** 基础查询列表样式-end **/

/** 页面头部样式-begin **/

.mainPage {
  position: relative;
  height: 100%;

  .el-loading-spinner {
    margin-top: -0.75rem;

    .circular {
      height: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &>div+div,
  .pageWrapper,
  .pageWrapper2 {
    position: relative;
    margin: 1.25rem;
    height: calc(100% - 6.875rem);
    overflow: visible;
  }

  .pageWrapper2 {
    height: calc(100% - 3.125rem);
  }

  .el-date-editor,
  .el-select {
    width: 100%;
  }

  .el-page-header {
    height: 3.75rem;
    background: #fff;
    padding: 0 1.25rem;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 21, 41, .08);

  }

  .el-page-header__left {
    margin-right: 2.75rem;

    &:after {
      // height: 1rem;
      background-color: #d8d8d8;
      width: 0.125rem;

    }
  }

  .el-page-header__content {
    line-height: 3.75rem;
    font-size: 1.25rem;
    color: #333;
    font-weight: 800;
  }

  .el-icon-back {
    font-size: 1.5rem;
  }

  // 头部右侧按钮
  .topBtn {
    position: absolute;
    top: -4.125rem;
    right: 1.25rem;
    z-index: 101;
  }

  .pTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.25rem;

    &>div {
      display: inline-flex;

      .el-button {
        margin-left: 1.25rem;
        padding: 0.5rem 0.9375rem;
      }
    }
  }

  .cell {
    font-size: 0.875rem;
  }

  th {
    color: rgba(0, 0, 0, .85);
    background: #fafafa;
    border-bottom: 0.0625rem solid #e8e8e8;
    padding: 1rem 0;
  }
}

/** 页面头部样式-end **/

/** 编辑页面样式-begin **/
.editWrapper {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  height: 100%;
  overflow: auto;
}

.editForm {
  padding: 1.25rem;
  background: #fff;

  .el-form-item {
    display: inline-flex;
    width: 50%;
    overflow: visible;
    margin-right: 0;

    &.w100 {
      width: 100%;
    }

    .el-input__inner,
    .el-select,
    .el-autocomplete {
      width: 100%;
    }

    .el-form-item__content {
      overflow: visible;
      flex: 1;
    }
  }
}

.editForm_3 {
  padding: 1.25rem;
  background: #fff;

  .el-form-item {
    display: inline-flex;
    width: 33.33%;
    overflow: visible;
    margin-right: 0;

    &.w100 {
      width: 100%;
    }

    &.w66 {
      width: 66.66%;
    }

    .el-input__inner,
    .el-select {
      width: 100%;
    }

    .el-form-item__content {
      overflow: visible;
      flex: 1;
    }
  }
}

.editList {
  background: #fff;
  padding: 1.25rem;
  margin-top: 1.25rem;
}

/** 编辑页面样式-end **/
.el-radio__input.is-disabled .el-radio__inner,
.el-radio__input.is-disabled.is-checked .el-radio__inner,
.el-input.is-disabled .el-input__inner {
  background-color: #fafafa;
  color: #666;
}

.hidden {
  display: none !important;
}

.flex,.inline-flex {
  display: flex;
  align-items: center;
  &.column {
    flex-direction: column;
  }

  &.spaceBetween {
    justify-content: space-between;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }
}
.inline-flex{
  display: inline-flex;

}
.mainTable{
  .el-table__header,
   .el-table__body{
     width:100% !important;
   }
}