@font-face {
  font-family: "BadScriptRegular";
  src: url("../../../asset/fonts/BadScriptRegular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-image: url(../../../asset/images/bg/greenTree2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

a {
  color: #3c8dbc;
  text-decoration: none;
}

-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #3e8dbb;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  color: #666;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 1.25rem;
}

.wordWrapperContainer {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: calc(100% - 1rem);
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: .5rem;
  padding: 1rem 2rem;
  .toolBar {
    width: 100%;
    height: 2rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fullClick {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  
  .controlPanel {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    .topPart,
    .downPart {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      /* background: lightblue; */
      height: 50%;
      /* border-bottom: solid 1px #f1f1f1; */
      font-size: 16rem;
      color: #fff;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.finishWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .pTitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
  }
}

.li-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(../../../asset/images/icons/icons1.png);
  background-size: 10rem;
}

@for $i from 0 through 3 {
  @for $j from 0 through 6 {
    .li-icon#{$i + 1}_#{$j + 1} {
      background-position: -#{$i * 2.667}rem  -#{$j * 2.667}rem;
    }
  }
}